<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="rangeslider/rangeslider.css">



    <link rel="stylesheet" href= {{style}}>

    <!-- HEADER FILE-->
    <link rel="stylesheet" type="text/css" href="style/header.css">
    <title>Document</title>
</head>
<body>

	{{> header}}

    {{{body}}}

    <script type="text/javascript" src="rangeslider/rangeslider.min.js"></script>

    
</body>
</html>