body
{
    font-size: 0.8em;
}


.wrapper
{
    width: 80%;
    border: 1px solid pink;
    margin: 30px auto;
}

table
{
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
}

input
{
    width: 100%;
    border: none;
    text-align: center;
}


table tr th
{
    border : 1px solid black;
    padding : 0px 15px;
    background-color: rgb(232,230,251);
}

table tr td
{
    border : 1px solid black;
}



@media only screen and (max-width : 800px)
{
    body
    {
        font-size: 0.7em;
        text-align: center;
    }
    
    .wrapper
    {
        width: 100%;
    }

    .wrapper  div  table
    {
        table-layout: fixed;
        width: 90%;
    }

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
