body
{
	background-color: #f7f7f7;
}

.wrapper
{
	width: 60%;
	margin: 30px auto;
	text-align: center;
}

table
{
	margin: 30px auto;
	width: 100%;
}

table tr th
{
    border : 1px solid black;
    background-color: rgb(232,230,251);
    padding: 10px 0px;
}

table tr td
{
    border : 1px solid black;
    padding: 10px 7px;
}

table tr:hover
{
	background-color: rgba(232,230,251, 0.5);
}

input[type='text']
{
	margin: 30px 0px;
	width: 40%;
	padding: 10px 20px;

}

#table
{
	width: 100%;
	table-layout: fixed;
}

input[type='range']
{
	width: 60%;

}

@media only screen and (max-width : 700px)
{
	.wrapper
	{
		width: 85%;
	}

	input[type='text']
	{
		margin: 10px 0px;
		width: 85%;
		padding: 10px 20px;

	}

	input[type='range']
	{
		width: 85%;

	}

	table tr
	{
		font-size: 3vw;
	}

	table tr th:nth-child(3)
	{
		display: none;
	}

	table tr th:nth-child(4)
	{
		display: none;
	}

	table tr td:nth-child(3)
	{
		display: none;
	}

	table tr td:nth-child(4)
	{
		display: none;
	}

	.header
    {
        font-size: 4vw;
    }


}

