<form action="/submit" method="POST" class="wrapper">
    <div id="tyt">
        <table id="tyt-table">
            <tr>
                <th colspan="8">TYT TESTLERİNDEKİ DOĞRU VE YANLIŞ SAYILARI</th>
            </tr>
            <tr>
                <th colspan="2">TÜRKÇE</th>
                <th colspan="2">SOSYAL BİLİMLER</th>
                <th colspan="2">TEMEL MATEMATİK</th>
                <th colspan="2">FEN BİLİMLERİ</th>
            </tr>
            <tr>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
            </tr>
            <tr>
                <td class="dogru">
                    <input type="number" min="0" max="40">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="40">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="20">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="20">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="40">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="40">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="20">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="20">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" step="0.01" name="tyt-tur">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="tyt-sos">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="tyt-mat">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="tyt-fen">
                </td>
            </tr>

        </table>
    
    </div>

    <div id="ayt">

        <table>

            <tr>
                <th colspan="6">TÜRK DİLİ VE EDEBİYATI - SOSYAL BİLİMLER - 1</th>
            </tr>
            <tr>
                <th colspan="2">TÜRK DİLİ VE EDEBİYATI</th>
                <th colspan="2">TARİH - 1</th>
                <th colspan="2">COĞRAFYA - 1</th>
            </tr>
            <tr>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
            </tr>
            <tr>
                <td class="dogru">
                    <input type="number" min="0" max="24">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="24">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="10">
                </td class="yanlis">
                <td>
                    <input type="number" min="0" max="10">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="6">
                </td class="yanlis">
                <td>
                    <input type="number" min="0" max="6">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" step="0.01" name="ea-edeb">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="ea-tar">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="ea-cog">
                </td>
            </tr>
        </table>

        <table class="soz">
            <tr>
                <th colspan="8">SOSYAL BİLİMLER - 2</th>
            </tr>
            <tr>
                <th colspan="2">TARİH - 2</th>
                <th colspan="2">COĞRAFYA - 2</th>
                <th colspan="2">FELSEFE GRUBU</th>
                <th colspan="2">DKAB / İLAVE FELSEFE GRUBU</th>
            </tr>

            <tr>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
            </tr>


            <tr>
                <td class="dogru">
                    <input type="number" min="0" max="11">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="11">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="11">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="11">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="12">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="12">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="6">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="6">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" step="0.01" name="soz-tar">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="soz-cog">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="soz-fel">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="soz-din">
                </td>
                
            </tr>
        </table>

        <table>
            <tr>
                <th rowspan="2" colspan="2">MATEMATİK</th>
                <th colspan="6">FEN BİLİMLERİ</th>
            </tr>
            <tr>
                <th colspan="2">FİZİK</th>
                <th colspan="2">KİMYA</th>
                <th colspan="2">BİYOLOJİ</th>
            </tr>
            <tr>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
                <th>Doğru</th>
                <th>Yanlış</th>
            </tr>
            <tr>
                <td class="dogru">
                    <input type="number" min="0" max="40">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="40">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="14">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="14">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="13">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="13">
                </td>
                <td class="dogru">
                    <input type="number" min="0" max="13">
                </td>
                <td class="yanlis">
                    <input type="number" min="0" max="13">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" step="0.01" name="say-mat">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="say-fiz">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="say-kim">
                </td>
                <td colspan="2">
                    <input type="number" step="0.01" name="say-bio">
                </td>
                
            </tr>
        </table>
    </div>

    <div id="obp">
        <table>
            <tr>
                <th colspan="2">ORTAÖĞRETİM BAŞARI PUANI</th>
            </tr>
            <tr>
                <th>DİPLOMA NOTU</th>
                <th>GEÇEN SENE YERLEŞTİM</th>
            </tr>
            <tr>
                <td>
                    <input type="number" min="50" max="100" step="0.01" name="obp">
                </td>
                <td>
                    <input type="checkbox" name="kirik">
                </td>
            </tr>

        </table>
    </div>

    <input type="submit">

</form>