

<form action="/submit" method="POST" class="wrapper">
    <div class="header">
        <label for="obp">Diploma Notu : </label>
        <input type="number" id="obp" name="obp" min="50" max="100" step="0.01"><br>
        <label for="kirik">Geçen Sene Yerleştim :  </label>
        <input type="checkbox" id="kirik" name="kirik">
    </div>


<h3>TYT Netlerim</h3>
    <div class="tyt">
    <table class="table table-dark" id = "tyt-table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Türkçe</th>
                <th scope="col">Sosyal</th>
                <th scope="col">Matematik</th>
                <th scope="col">Fen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Doğru</th>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number"  min="0" max="20">
                </td>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number" min="0" max="20">
                </td>
            </tr>
            <tr>
                <th scope="row">Yanlış</th>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number"  min="0" max="20">
                </td>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number"  min="0" max="20">
                </td>
            </tr>
            <tr>
                <th scope="row">Net</th>
                <td>
                    <input type="number" name="tyt-tur" step="0.01">
                </td>
                <td>
                    <input type="number" name="tyt-sos" step="0.01">
                </td>
                <td>
                    <input type="number" name="tyt-mat" step="0.01">
                </td>
                <td>
                    <input type="number" name="tyt-fen" step="0.01">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h3>AYT Netlerim</h3>

<div class="ayt">
    <table class="table table-dark" id = "ayt-table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Matematik</th>
                <th scope="col">Fizik</th>
                <th scope="col">Kimya</th>
                <th scope="col">Biyoloji</th>
                <th scope="col">Edebiyat</th>
                <th scope="col">Tarih</th>
                <th scope="col">Coğrafya</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Doğru</th>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number"  min="0" max="14">
                </td>
                <td>
                    <input type="number"  min="0" max="13">
                </td>
                <td>
                    <input type="number"  min="0" max="13">
                </td>
                <td>
                    <input type="number"  min="0" max="24">
                </td>
                <td>
                    <input type="number"  min="0" max="10">
                </td>
                <td>
                    <input type="number"  min="0" max="6">
                </td>
            </tr>
            <tr>
                <th scope="row">Yanlış</th>
                <td>
                    <input type="number"  min="0" max="40">
                </td>
                <td>
                    <input type="number"  min="0" max="14">
                </td>
                <td>
                    <input type="number"  min="0" max="13">
                </td>
                <td>
                    <input type="number"  min="0" max="13">
                </td>
                <td>
                    <input type="number"  min="0" max="24">
                </td>
                <td>
                    <input type="number" min="0" max="10">
                </td>
                <td>
                    <input type="number" min="0" max="6">
                </td>
            </tr>
            <tr>
                <th scope="row">Net</th>
                <td>
                    <input type="number" name="ayt-mat" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-fiz" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-kim" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-bio" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-edeb" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-tar" step="0.01">
                </td>
                <td>
                    <input type="number" name="ayt-cog" step="0.01">
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
    <input type="submit" value="Submit">
</form>




<script src="script.js"></script>