<div class="wrapper">
	
	<input type="text" name="" placeholder="Üniversite" id="uni">
	<input type="text" name="" placeholder="Bölüm" id="bolum">

	<div class="puanTurleri">
		<label>SAY</label>
		<input type="checkbox" name="" id="SAY">
		<label>EA</label>
		<input type="checkbox" name="" id="EA">
		<label>SÖZ</label>
		<input type="checkbox" name="" id="SÖZ">
		
		<br>

		<label>Devlet</label>
		<input type="checkbox" name="" id="devlet" checked>
		<label>Özel</label>
		<input type="checkbox" name="" id="ozel" checked>
		<label>KKTC</label>
		<input type="checkbox" name="" id="kktc" checked>
		<label>Yurtdışı</label>
		<input type="checkbox" name="" id="yurtdisi" checked>
	</div>

	<label>Maksimum</label>
	<input id="max" type="range" min="100" max="560" step="1" value="560"  data-orientation="vertical">
	<label id="max_value">560</label>
	<!-- console.log(document.getElementById("range").value); -->

	<table id="table">
		<tr>
			<th>Üniversite</th>
			<th>Bölüm</th>
			<th>Taban Puanı</th>
			<th>Puan Türü</th>
		</tr>
	</table>



</div>


<script type="text/javascript" src="tercih.js"></script>
