<div class="wrapper">
	
	<input type="text" name="" placeholder="Üniversite" id="uni">
	<input type="text" name="" placeholder="Bölüm" id="bolum">

	<div class="puanTurleri">
		<label>TYT</label>
		<input type="checkbox" name="" id="tyt">
		<label>SAY</label>
		<input type="checkbox" name="" id="say">
		<label>EA</label>
		<input type="checkbox" name="" id="ea">
		<label>SÖZ</label>
		<input type="checkbox" name="" id="soz">
	</div>


	<table>
		<tr>
			<th>Üniversite</th>
			<th>Bölüm</th>
			<th>Taban Puanı</th>
			<th>Puan Türü</th>
		</tr>
	</table>



</div>


<script type="text/javascript" src="tercih.js"></script>
