body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper
{
    border: 1px solid black;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
}

.header
{
    border: 1px solid rgb(42, 42, 42);
    padding : 20px;
}

label
{
    font-size: 1.3em;
}

#tyt-table
{
    width: 80%;
    margin : 0px auto;
    text-align: center;
    background-color:  #222;
    color : white;
    border-collapse: collapse;
}

#tyt-table thead tr th
{
    width: 20%;
    padding : 10px 0px;

}

table th td
{
    padding : 10px;
}

#tyt-table tbody tr td
{
    width: 20%;
    padding : 10px 0px;
    border: 1px solid grey;

}

#tyt-table tbody tr td input
{
    width: 90%;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    font-size: 1.3em;
}

input
{
    background-color: #222222;
    color : white;
    border : none;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
